name: ci
on:
  push:
    branches: [ dev, main, docker_cicd ]

jobs:
  run-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install scikit-learn joblib numpy

      - name: Train model
        run: python src/train.py

      - name: Test model
        run: python src/test.py
